# --- AUTHENTIFICATION SOCIALE ---
GITHUB_CLIENT_ID=votre_client_id_github_ici
GITHUB_CLIENT_SECRET=votre_secret_github_ici

GOOGLE_CLIENT_ID=votre_client_id_google_ici
GOOGLE_CLIENT_SECRET=votre_secret_google_ici

# --- SÉCURITÉ ---
JWT_SECRET_KEY=mettez_une_cle_secrete_tres_longue_ici