<div class="liste-container">
  <h2>{{ isEditMode ? '✏️ Modifier la Partie' : '➕ Ajouter une Partie' }}</h2>
  <div class="login-box" style="max-width: 600px; margin: auto; text-align: left;">
    <div class="form-group">
      <label>Statut de la partie</label>
      <select [(ngModel)]="partie.statut">
        <option value="EN_COURS">En Cours</option>
        <option value="TERMINEE">Terminée</option>
        <option value="ANNULEE">Annulée</option>
      </select>
    </div>
    <div class="actions-split mt-20">
      <button class="btn-secondaire" (click)="router.navigate(['/parties'])">Annuler</button>
      <button class="btn-principal" (click)="enregistrer()">Sauvegarder</button>
    </div>
  </div>
</div>